<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="icon" href="https://img.icons8.com/ios-glyphs/344/youtube-play.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img onclick="w3_open()" src="images/menu.png" class="menu-icon">
            <a href="/"><img src="images/logo.png" class="logo"></a>
        </div>
        <!-- Search -->
        <div class="nav-middle flex-div">
            <form method="post" action="/search" class="search-box flex-div">
                <input name="search" type="text" placeholder="Search">
                <button style="border: none;background-color:white;"><img src="images/search.png"></button>
            </form>
            <img src="images/voice-search.png" class="mic-icon">
        </div>
        <!-- End Search -->
        <div class="nav-right flex-div">
            <% if(logged) { %>
                <form id="fileUp" method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="file" id="fileInput" name="uploadedFile" accept="video/*" onchange="this.form.submit()"
                        style="display:none;" />
                    <img src="images/upload.png" onclick="document.getElementById('fileInput').click();">
                </form>


                <a href="/logout">
                    <button class="navbtn" type="button">Logout</button>
                </a>
            <% } else { %>
                <a href="/login">
                    <button class="navbtn" type="button"><i class="fa fa-user"></i>Login</button>
                </a>
            <% } %>
        </div>
    </nav>

    <!-- ---------------------------SIDE BAR ------------------- -->
    <div class="sidebar" style="display:none;z-index:5" id="mySidebar">
        <div class="shortcut-links">
            <a class="w3-bar-item w3-button w3-large" onclick="w3_close()">&times; Close</a>
            <a href="/"><img src="images/home.png"><p>Home</p></a>
            <a href="/profile"><i class="fa fa-user"></i><p>Profile</p></a>
            <a href="/history"><img src="images/history.png"><p>History</p></a>
            <hr>
        </div>
    </div>

    <!-- -------------MAIN----------------------------------------->
    <div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div class="history-container">
        <div class="historylist-container">
            <div class="left-col">

                <h1>WATCH HISTORY</h1>
                <% videos.forEach(function(video){ %>
                <div class="history-list">
                    <div class="history-img">
                        <img src="images/thumbnail1.png">
                    </div>
                    <div class="vid-info">
                        <a href="/<%= video.id %>"><%= video.name %></a>
                        <p>Souls. Ch</p>
                        <p><%= video.views %> views </p>
                    </div>
                </div>          
                <% }) %>      
            </div>

            <div class="right-col">
                <div class="sidebar1">
                    <h2>Select Filters</h2>
                    <h3>Type</h3>
                    <div class="filter">
                        <input type="checkbox">
                        <p>Today</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox">
                        <p>Yesterday</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox">
                        <p>This Week</p>
                    </div>
                    <div class="filter">
                        <input type="checkbox">
                        <p>All Time</p>
                    </div>

                    <div class="sidebar1-delete">
                        <a href="/deleteHistory">Delete History</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="js/sideScript.js"></script>
    
</body>

</html>